# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
nba = pd.read_csv('../files/NBA All Stars 2000-2016 - Sheet1.csv')
nba.head()

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States

# What is the average weight of all players who played during this time?

In [5]:
nba_weight = nba['WT'].mean()
nba_weight
# 228.75

228.75170842824602

# What team is represented the most during this time?

In [9]:
nba_team = nba.groupby('Team').count()
nba_team.sort_values(by='WT',ascending=False).head()
# Miami Heat

,Year,Player,Pos,HT,WT,Selection Type,NBA Draft Status,Nationality
Team,,,,,,,,
Miami Heat,28,28,28,28,28,28,28,28
Boston Celtics,26,26,26,26,26,26,26,26
San Antonio Spurs,25,25,25,25,25,25,25,25
Los Angeles Lakers,25,25,25,25,25,25,25,25
Houston Rockets,20,20,20,20,20,20,20,20

# What draft class is represeted the most during this time?

In [15]:
nba_1992 = nba['NBA Draft Status'].str.contains('1992').value_counts()
nba_1993 = nba['NBA Draft Status'].str.contains('1993').value_counts()
nba_1994 = nba['NBA Draft Status'].str.contains('1994').value_counts()
nba_1995 = nba['NBA Draft Status'].str.contains('1995').value_counts()
nba_1996 = nba['NBA Draft Status'].str.contains('1996').value_counts()
nba_1997 = nba['NBA Draft Status'].str.contains('1997').value_counts()
nba_1998 = nba['NBA Draft Status'].str.contains('1998').value_counts()
nba_1999 = nba['NBA Draft Status'].str.contains('1999').value_counts()
nba_2000 = nba['NBA Draft Status'].str.contains('2000').value_counts()
nba_2001 = nba['NBA Draft Status'].str.contains('2001').value_counts()
nba_2002 = nba['NBA Draft Status'].str.contains('2002').value_counts()
nba_2003 = nba['NBA Draft Status'].str.contains('2003').value_counts()
nba_2004 = nba['NBA Draft Status'].str.contains('2004').value_counts()
nba_2005 = nba['NBA Draft Status'].str.contains('2005').value_counts()
nba_2006 = nba['NBA Draft Status'].str.contains('2006').value_counts()
nba_2007 = nba['NBA Draft Status'].str.contains('2007').value_counts()
nba_2008 = nba['NBA Draft Status'].str.contains('2008').value_counts()
nba_2009 = nba['NBA Draft Status'].str.contains('2009').value_counts()
nba_2010 = nba['NBA Draft Status'].str.contains('2010').value_counts()

print(nba_1992,nba_1993,nba_1994,nba_1995,nba_1996,nba_1997,nba_1998,
     nba_1999,nba_2000,nba_2001,nba_2002,nba_2003,nba_2004,nba_2005,
     nba_2006,nba_2007,nba_2008,nba_2009,nba_2010)
# NBA Draft Class 1996 has the most representation

92 False    428
True      11
Name: NBA Draft Status, dtype: int64 False    433
True       6
Name: NBA Draft Status, dtype: int64 False    429
True      10
Name: NBA Draft Status, dtype: int64 False    420
True      19
Name: NBA Draft Status, dtype: int64 False    376
True      63
Name: NBA Draft Status, dtype: int64 False    414
True      25
Name: NBA Draft Status, dtype: int64 False    403
True      36
Name: NBA Draft Status, dtype: int64 False    420
True      19
Name: NBA Draft Status, dtype: int64 False    436
True       3
Name: NBA Draft Status, dtype: int64 False    412
True      27
Name: NBA Draft Status, dtype: int64 False    421
True      18
Name: NBA Draft Status, dtype: int64 False    388
True      51
Name: NBA Draft Status, dtype: int64 False    426
True      13
Name: NBA Draft Status, dtype: int64 False    423
True      16
Name: NBA Draft Status, dtype: int64 False    420
True      19
Name: NBA Draft Status, dtype: int64 False    422
True      17
Name: NBA Draft Status, dtype: int64 False    422
True      17
Name: NBA Draft Status, dtype: int64 False    420
True      19
Name: NBA Draft Status, dtype: int64 False    427
True      12
Name: NBA Draft Status, dtype: int64

# Are foriegn players more prevalent in the All-Star Game during this time?

In [18]:
nba_nationality = nba.groupby('Nationality').count()
nba_nationality
# 'more prevalent' compared to what? But here is their appearances

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status
Nationality,,,,,,,,
Argentina,2,2,2,2,2,2,2,2
Canada,1,1,1,1,1,1,1,1
Canada\nSouth Africa,8,8,8,8,8,8,8,8
China,8,8,8,8,8,8,8,8
Democratic Republic of the Congo,2,2,2,2,2,2,2,2
Dominican Republic\nUnited States,4,4,4,4,4,4,4,4
England\nSouth Sudan,2,2,2,2,2,2,2,2
France,6,6,6,6,6,6,6,6
France\nUnited States,2,2,2,2,2,2,2,2
Germany,13,13,13,13,13,13,13,13
Germany\nUnited States,2,2,2,2,2,2,2,2
Greece\nNigeria,1,1,1,1,1,1,1,1
Lithuania,2,2,2,2,2,2,2,2
Russia,1,1,1,1,1,1,1,1
Serbia,1,1,1,1,1,1,1,1
Serbia\nGreece,3,3,3,3,3,3,3,3
Spain,9,9,9,9,9,9,9,9
Turkey,1,1,1,1,1,1,1,1
United States,365,365,365,365,365,365,365,365
United States\nAustralia,4,4,4,4,4,4,4,4
United States\nGermany,1,1,1,1,1,1,1,1
United States\nSpain,1,1,1,1,1,1,1,1

# How often are the Western All-Stars voted in by fans?

In [21]:
nba_western = nba[nba['Selection Type']=='Western All-Star Fan Vote Selection']
nba_western.count()
# 85 times

Year                85
Player              85
Pos                 85
HT                  85
WT                  85
Team                85
Selection Type      85
NBA Draft Status    85
Nationality         85
dtype: int64

# How many times does Steph Curry make the All-Star game during this time period?

In [24]:
nba_steph = nba[nba['Player'] == 'Stephen Curry'].count()
nba_steph
# 4 times

Year                4
Player              4
Pos                 4
HT                  4
WT                  4
Team                4
Selection Type      4
NBA Draft Status    4
Nationality         4
dtype: int64

# How many Shooting Gaurds have made the All-Star game during this time?

In [28]:
nba_sg = nba[nba['Pos'] == 'SG'].count()
nba_sg
# 57 times

Year                57
Player              57
Pos                 57
HT                  57
WT                  57
Team                57
Selection Type      57
NBA Draft Status    57
Nationality         57
dtype: int64

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [29]:
nba_team = nba.groupby('Team').count()
nba_team
# 12 players

,Year,Player,Pos,HT,WT,Selection Type,NBA Draft Status,Nationality
Team,,,,,,,,
Atlanta Hawks,18,18,18,18,18,18,18,18
Boston Celtics,26,26,26,26,26,26,26,26
Brooklyn Nets,2,2,2,2,2,2,2,2
Charlotte Bobcats,1,1,1,1,1,1,1,1
Charlotte Hornets,2,2,2,2,2,2,2,2
Chicago Bulls,12,12,12,12,12,12,12,12
Cleveland Cavaliers,17,17,17,17,17,17,17,17
Dallas Mavericks,18,18,18,18,18,18,18,18
Denver Nuggets,9,9,9,9,9,9,9,9
Detroit Pistons,15,15,15,15,15,15,15,15
Golden State Warriors,11,11,11,11,11,11,11,11
Houston Rockets,20,20,20,20,20,20,20,20
Indiana Pacers,15,15,15,15,15,15,15,15
Los Angeles Clippers,14,14,14,14,14,14,14,14
Los Angeles Lakers,25,25,25,25,25,25,25,25
Memphis Grizzlies,6,6,6,6,6,6,6,6
Miami Heat,28,28,28,28,28,28,28,28
Milwaukee Bucks,5,5,5,5,5,5,5,5
Minnesota Timberwolves,12,12,12,12,12,12,12,12
New Jersey Nets,12,12,12,12,12,12,12,12
New Orleans Hornets,9,9,9,9,9,9,9,9
New Orleans Pelicans,4,4,4,4,4,4,4,4
New York Knicks,10,10,10,10,10,10,10,10
Oklahoma City Thunder,13,13,13,13,13,13,13,13
Orlando Magic,14,14,14,14,14,14,14,14
Philadelphia Sixers,11,11,11,11,11,11,11,11
Phoenix Suns,18,18,18,18,18,18,18,18
Portland Trail Blazers,10,10,10,10,10,10,10,10
Sacramento Kings,11,11,11,11,11,11,11,11
San Antonio Spurs,25,25,25,25,25,25,25,25
Seattle SuperSonics,8,8,8,8,8,8,8,8
Toronto Raptors,16,16,16,16,16,16,16,16
Utah Jazz,9,9,9,9,9,9,9,9
Washington Wizards,13,13,13,13,13,13,13,13